
[core]
	autocrlf = true
	editor = 'C:/Program Files/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
[alias]
	s = status	
	f = fetch
	cm = commit -m
	co = checkout
	fix = commit --fixup
	rf = rebase --interactive --autosquash
	rf2 = rebase --interactive --autosquash HEAD~2

	
	c = clean -xdf
	
	# git adog graph
	adog = log --all --decorate --oneline --graph
	
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

	recommit = !"git commit --amend --no-edit"
	uncommit = !"git reset --soft HEAD^"
	
	punch = !"git push --force"
	
	nuke = !sh -c 'git branch -D $1 && git push origin :$1' -
	
	# remove deleted remote branches
	trim = !"git remote prune origin"
	
	# delete local branches that have no remote anymore
	tidy = !"git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"

[user]
	name = Steiner Marcel
	email = marcel.steiner@kms-ag.ch
[credential "https://bitbucket.kms-ag.ch"]
	provider = bitbucket
